input[type="text"]{
    height: 70px;   
    font-size: 30px;
   }
   #teach-one{
      height: 90px;
      width: 103px;
      background-color: white;
      border:none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
      margin-left: 45px;
   }
   #teach-one:hover{
       opacity: 100%;
   }
   #teach-two{
      height: 100px;
      width: 107px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
       margin-left: 45px;
      transform:translateY(10px);
   }
   #teach-two:hover{
       opacity: 100%;
   }


   #teach-three{
      height: 92px;
      width: 107px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
     margin-left: 45px;
      transform:translateY(3px);
   }
   #teach-three:hover{
       opacity: 100%;
   }

   #teach-four{
      height: 114px;
      width: 107px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
      margin-left: 45px;
      transform:translateY(13px);
   }
   #teach-four:hover{
       opacity: 100%;
   }

   #teach-five{
      height: 101px;
      width: 111px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
       margin-left: 45px;
   }
   #teach-five:hover{
       opacity: 100%;
   }

   #teach-six{
      height: 97px;
      width: 97px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
       margin-left: 45px;
   }
   #teach-six:hover{
       opacity: 100%;
   }

   #teach-seven{
      height: 94px;
      width: 99px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
       margin-left: 50px;
   }
   #teach-seven:hover{
       opacity: 100%;
   }

   #teach-eight{
      height: 92px;
      width: 95px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
      margin-left: 45px;
      transform: translateX(5px);
   }
   #teach-eight:hover{
       opacity: 100%;
   }

   #teach-nine{
      height: 75px;
      width: 72px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
       margin-left: 80px;
   }
   #teach-nine:hover{
       opacity: 100%;
   }

   #teach-ten{
      height: 85px;
      width: 101px;
      background-color: white;
      border: none;
      opacity: 70%;
      cursor: pointer;
      transition: 1s;
      transform: translateX(25px);
       margin-left: 50px;
   }
   #teach-ten:hover{
       opacity: 100%;
   }
   h3{
       margin-left: 30px;
   }

   #teaching-display{
       color: blue;
       transform:translateX(20%);
       font-size: 50px;
   }